<style>
  body {
    background-image: url('assets/bg.svg');
    background-size: cover;
  }
</style>


<div class="container">
  <h2 class="text-center m-t-50 text-white">ENACTUS VVU </h2>
  <div class="row m-t-40">
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 25rem;">
        <div class="card-body">

          <%= form_for(:session, url: login_path) do |f| %> 
          
            <div class="text-center">
              <h5 class="text-uppercase" style="margin-bottom: 2px;">Form</h4> <hr>
            </div>            
            

              <div class="form-group">
                <%=f.label :username %>
                <%= f.text_field :username, class: 'form-control', :placeholder => "username" %> 
              </div>

               <div class="form-group">
                <%=f.label :Password%>
                <%= f.password_field :password_digest, class: 'form-control' %>
              </div>

            <%=f.submit "Log in", class: 'btn btn-success btn-block' %>
            <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>           
                
